.app-wrapper{
    color:green;
    text-align: center;
}
.searhboxwrapper{
    text-align:center;
}
.searchbox{
    border:0;
    outline:0;
    display:block;
    margin: 0 auto;
    width:300px;
}
.searchbox:focus{
    border-bottom:1px solid black;
    transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
}

body{
    background:#FFFFFF;
}
ul, li{margin:0;padding:0;}
li{list-style-type: none;}