body{
    background:#FFFFFF;
}
ul, li{margin:0;padding:0;}
li{list-style-type: none;}

.app-wrapper{
    color:green;
    text-align: center;
}
.searhboxwrapper{
    text-align:center;
}
.searchbox{
    border-width: 0 0 1px;
    border-style: solid;
    border-color: black;
    outline:0;
    display:inline-block;
    margin: 0 auto;
    width:100%;
}
.searhboxWrapper{
    position:relative;
    width: 300px;
    margin: 0 auto;
 }
.searhboxWrapper .itemWrapper{
	position: absolute;
    top: 20px;
    width: 300px;
    left: -1px;
    margin: 0 auto;
    border-top-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: grey;
 }
 .item{
     height:30px;
 }
 .item:hover{
    background-color:#5654E4;
    color: #FFFFFF;
    cursor:pointer;
 }
 .item a{
     /*margin-left: 5%;
     margin-top: 1%;*/
     width: 100%;
     height: 100%;
     display: inline-block;
 }